a{
  color : #11999E;
  text-decoration: none;
}
a:hover{
  color : #EAF6F6;
}
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px auto 20px;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left:300px;
}

.butn {
  background: #11CDD4;
  background-image: webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.contact-para{
  margin: 40px auto 60px;
  width : 40%;
}
.footer-link{
  color: #11999E;
  padding: 20px;
}

h1{
  font-family: 'Sacramento', cursive;
  margin : 50px auto 0 auto;
  font-size : 5.625rem;
  color : #66BFBF;
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0 auto;
  padding-bottom: 10px;
  color : #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color : #11999E;
}

hr{
  margin: 100px auto;
  width : 5%;
  border : none;
  border-top: 5px dotted #EAF6F6;
}

.profile-description{
  margin: 70px auto;
}

.profile-line{
  width : 50%;
  margin: 50px auto;
}

.profilePic{
  height:150px;
  width:150px;
  border-radius:50px;
}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top:100px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.middle-container{
  margin: 100px 0;
}

p{
  line-height: 2;
}
.code-pic{
  border-radius: 60px;
  margin-right: 30px;
  float: left;
  width : 25%;
}
.learn-pic{
  border-radius: 60px;
  margin-left: 30px;
  float: right;
  width : 25%;
}
.subtitle{
  font-weight: normal;
}
.skill-row{
  width: 50%;
  margin : 100px auto;
  text-align: left;
}
